@import '../colors.scss';
form.single-button{
    padding: .5em;

    .grouping{
        border: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        div{
            margin-right: .5em;
            margin-bottom: .5em;

            button{
                background-color: $color-1;
                color: $white;
                padding: .5em;
                border: none;
                cursor: pointer;
            }

            button:hover{
                background-color: $color-3;
                color: $black;
            }
        }
    }
}

form.input-submit{
    padding: .5em;

    .grouping{
        border: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: stretch;

        div:first-child{
            flex: 1;

            input{
                width: 100%;
                padding: .31em;
            }
        }

        div{
            button{
                background-color: $color-1;
                color: $white;
                padding: .5em;
                border: none;
                cursor: pointer;
                margin-right: 1em;
            }

            button:hover{
                background-color: $color-3;
                color: $black;
            }
        }
    }
}