@import '../colors.scss';
form.single-button{
    fieldset{
        border: none;
        padding: 0;
        margin: 0;

        div{
            float: left;

            button{
                background-color: $color-1;
                color: $white;
                padding: .5em;
                border: none;
                cursor: pointer;
                margin-right: 1em;
            }

            button:hover{
                background-color: $color-2;
                color: $color-1;
            }
        }
    }
}